:root {
    --heii: 50px;
}

.search-header {
    width: max-content;
    position: relative;
    display: flex;
    background-color: #fff;
    border-radius: 20px;


    .form-control {

        width: 22vw;
        position: relative;
        height: var(--heii);
        border-radius: 20px;
        border: unset;



        &:focus-visible {
            outline: unset !important;

        }

        &:focus {
            width: calc(50vw - 6.7rem);
            transition: all 0.3s ease-in-out;
        }

        &::placeholder {
            font-size: 20px;
        }
    }

}

.ICONSEARCH {
    position: absolute;
    right: 6px;
    top: 0px;
    height: var(--heii);
    line-height: var(--heii);
    width: 30px;

    &:hover {
        cursor: pointer;
    }

    &>i {
        font-size: 20px;
    }

}

@media (max-width:500px) {
    .search-header {
        .form-control {
            min-width: 40vw;

            &:focus {
                width: 90vw;

            }
        }
    }
}

//Tablet
@media (max-width:1023px) and (min-width: 740px) {
    // .search-header {
    //     .form-control {
    //         width: 400px;
    //     }
    // }
}

//PC
@media (min-width: 1024px) {}
