.rolemodal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 40px;
    background-image: url(../../img/bglogin.jpg);
    object-fit: cover;
    min-height: 100vh;
    align-self: center;
    margin-bottom: -60px;
    background-size: cover;

    .signInanimation {
        animation: signIN 0.3s forwards;
    }

    .sign {
        display: flex;
        flex-direction: column;
        width: max-content;
        min-width: 320px;
        max-width: max-content;
        min-height: 460px;
        height: max-content;
        border: 1px solid #000;
        border-radius: 6px;
        padding: 30px;
        box-shadow: 2px 2px 6px rgb(0, 0, 0);
        z-index: 2;
        margin-top: 20px;
        margin-bottom: auto;
        background-color: #fff;

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input {
            position: relative;
            width: 100%;
            // min-width: 300px;

            height: 3rem;
            min-width: 100%;
            border-radius: 6px;
            padding: 0 10px;
            margin: 10px 0;
            outline: none;
            border: 1px solid #493a59;
            font-weight: 400;

            &::placeholder {
                font-size: 20px;
                font-weight: 400;
                text-transform: capitalize;
            }

        }
        .sign__title{
            display: flex;
            p{
                margin-bottom: 5px;
                font-size: 2rem;
                margin-right: 15px;
            }
        }
        .sign__input{
            flex-grow: 1;
            width: 100%;
            input{
                width: 100%;
            }
        }
        .input--group{
            display: flex;
            justify-content: space-between;
            width: 100%;
           &>.sign__input{
                // width: 50%;
                &> input{
                    min-width: 100%;
                }
            }
            &>.sign__input:first-child{
                margin-right: 3px;
            }
            &>.sign__input:last-child{
                margin-left: 3px;
            }
        }

        &__btn {
            text-align: center;
            display: flex;
            justify-content: space-around;
            padding-top: 20px;
        }

        button {
            max-width: 280px;
            display: block;
            width: 70%;
            height: 56px;
            border: none;
            background-color: #d8bd9f;
            font-size: 25px;
            color: #000;
            font-weight: 450;
            border-radius: 6px;

            &:hover {
                opacity: 0.85;
            }
        }
    }

    // input {
    //     width: 300px;
    //     height: 3rem;
    //     border-radius: 6px;
    //     padding: 0 10px;
    //     margin: 10px 0;
    //     outline: none;
    //     border: 1px solid #493a59;
    //     font-weight: 400;

    //     &::placeholder {
    //         font-size: 20px;
    //         font-weight: 400;
    //         text-transform: capitalize;
    //     }
    // }

    .error {
        color: red;
        font-weight: 400;
        margin-bottom: 0;
    }
}

@keyframes signIN {
    0% {
        opacity: 0;
        transform: translateX(-20px);
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
}

@media (max-width: 500px) {
    .rolemodal {
        width: 100vw;
        .sign{
            padding-top: 5px;
            height: max-content;
            .sign__title{
                display: flex;
                align-items: center;
                max-height: 40px;
                min-height: 40px;
                &>p{
                    margin: 0 15px 0 0;
                }

            }
            .input--group{
                flex-direction: column;
                .sign__input:first-child{
                    margin-right: 0;
                }
                .sign__input:last-child{
                    margin-left: 0;
                }
            }
        }

    
    }
}